.person {
  display: flex;
  padding: 5px;
}

.fas {
  margin-top: 2px;
  margin-left: 5px;
  color: #d33131;
}

.players {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
