div {
  display: flex;
  margin-top: 10px;
}

.container {
  justify-content: center;
}

.container > div {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ffffff;
}

.finished {
  background-color: #fffb00 !important;
}
