.ko-container {
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  min-width: 500px;
  max-width: 800px;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  background-color: white;
  box-shadow: 0 4px 10px 4px #13232f13;
}

.free {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
