.game-wrapper {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  padding-bottom: 10px;
}

.game-wrapper > div {
  text-align: center;
  margin: auto;
}

input[type=text] {
  max-width: 40px;
  border-radius: 0.2em;
}
