@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  height: 100vh;
  background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4) 100%);
  overflow: hidden;
}

.box-container {
  border-radius: 5px;
  padding: 10px;
  min-width: 400px;
  max-width: 500px;
  min-height: 332px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 10px 4px #13232f13;
  /* border: 1px solid #e4e4e4; */
}

div, input {
  font-family: 'Raleway', sans-serif;
}

input[type=text] {
  border: 1px solid rgb(201, 201, 201);
  padding: 0.5em 0.25em;
  border-radius: 0.2em 0 0 0.2em;
  font-size: 1em;
  text-align: center;
}

input[type=text]:focus {
  outline: none;
}

.inputs input[type=button] {
  height: 37px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border: 1px solid #517bca;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0 0.2em 0.2em 0;
}

.inputs input[type=button]:hover {
  background-color: #517bca;
  color: white;
}
